$white: #fff;

.header__logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    .header__logo-title{
        padding-left: 24px;
        color: $white;
        font-weight: 400;
    }
    .header__logo-img {
         fill: $white;
         stroke: #fff;
    }
}

.header__link {
    padding-right: 24px;
    text-decoration: none;
    color: $white;
    position: relative; 

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px; 
        background-color: $white; 
        bottom: -6px;
        left: 0;
        transition: width 0.3s ease-in-out;
    }

    &:hover::after {
        width: calc(100% - 24px) ;
    }
}




